<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.codesignconnect.mapper.PostMapper">

    <insert id="insertPost" parameterType="org.example.codesignconnect.model.Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (channel_id, author_id, content, title)
        VALUES (#{channelId}, #{authorId}, #{content}, #{title})
    </insert>

    <select id="getPostsByChannelId" resultType="org.example.codesignconnect.model.Post">
        SELECT *
        FROM posts
        WHERE channel_id = #{channelId}
        ORDER BY create_time
    </select>

</mapper>
