<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="org.sds.elevateconnect.mapper.InviteCodeMapper">
    <resultMap id="InviteCodeResultMap" type="org.sds.elevateconnect.model.InviteCode">
        <id property="id" column="id" />
        <result property="communityId" column="community_id" />
        <result property="email" column="email" />
        <result property="code" column="code" />
        <result property="userRole" column="user_role" typeHandler="org.sds.elevateconnect.typeHandler.UserRoleTypeHandler" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <insert id="addCode">
        INSERT INTO invite_codes(email, code, user_role, community_id, country, organization)
        VALUES (#{email}, #{code}, #{userRole.intValue}, #{communityId}, #{country}, #{organization})
    </insert>
    <select id="getInviteCodeByCode" resultType="org.sds.elevateconnect.model.InviteCode" resultMap="InviteCodeResultMap">
        SELECT * FROM invite_codes
        WHERE code = #{inviteCode}
    </select>
    <update id="deleteCodeByEmail">
        DELETE FROM invite_codes
        WHERE email = #{email}
    </update>
</mapper>