<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sds.elevateconnect.mapper.MarkerMapper">
    <resultMap id="markerResultMap" type="org.sds.elevateconnect.model.project.Marker">
        <id property="id" column="id" />
        <result property="projectId" column="project_id" />
        <result property="lat" column="lat" />
        <result property="lng" column="lng" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="type" column="type" typeHandler="org.sds.elevateconnect.typeHandler.MarkerTypeTypeHandler" />
    </resultMap>

    <insert id="insert" parameterType="org.sds.elevateconnect.model.project.Marker" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO marker (project_id, lat, lng, title, description, type)
        VALUES (#{projectId}, #{lat}, #{lng}, #{title}, #{description}, #{type.intValue})
    </insert>
    <select id="getMarkerById" resultMap="markerResultMap">
        SELECT * FROM marker
        WHERE id = #{id}
    </select>
    <select id="getAllByProjectId" resultMap="markerResultMap">
        SELECT * FROM marker
        WHERE project_id = #{projectId}
    </select>
    <update id="update" parameterType="org.sds.elevateconnect.model.project.Marker">
        UPDATE marker
        SET title = #{title},
        description = #{description},
        type = #{type.intValue},
        lat = #{lat},
        lng = #{lng}
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM marker
        WHERE id = #{id}
    </delete>
</mapper>