<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sds.elevateconnect.mapper.ReplyMapper">
    <insert id="insertReply" parameterType="org.sds.elevateconnect.model.project.Reply" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reply (post_id, author_id, content)
        VALUES (#{postId}, #{authorId}, #{content})
    </insert>

    <select id="getRepliesByPostId" resultType="org.sds.elevateconnect.model.project.Reply">
        SELECT *
        FROM reply
        WHERE post_id = #{postId}
        ORDER BY create_time
    </select>
</mapper>
