<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="org.sds.elevateconnect.mapper.UserMapper">
    <insert id="addUser">
        INSERT INTO user(first_name, last_name, email, password, role)
        VALUES (#{firstName}, #{lastName}, #{email}, #{password}, #{role.getIntValue()})
    </insert>
    <insert id="addCode">
        INSERT INTO invite_codes(email, code, type)
        VALUES (#{email}, #{code}, #{type})
    </insert>
    <insert id="saveVerificationCode">
        INSERT INTO verification_codes (email, code, expire_time)
        VALUES (#{email}, #{code}, #{expireTime})
    </insert>
    <update id="inactivateCode">
        UPDATE invite_codes
        SET is_used = true
        WHERE id = #{id}
    </update>
    <update id="updatePassword">
        UPDATE user
        SET password = #{newPassword}
        WHERE email = #{email}
    </update>
    <delete id="deleteVerificationCode">
        DELETE FROM verification_codes
        WHERE email = #{email}
    </delete>
    <delete id="deleteUser">
        DELETE FROM user
        WHERE id = #{id}
    </delete>
    <select id="getAllUsers" resultType="org.sds.elevateconnect.model.User">
        SELECT * FROM user
    </select>
    <select id="getUserByEmail" resultType="org.sds.elevateconnect.model.User">
        SELECT * FROM user
        WHERE email = #{email}
    </select>
    <select id="checkCode" resultType="org.sds.elevateconnect.model.InviteCode">
        SELECT * FROM invite_codes
        WHERE code = #{code}
    </select>
    <select id="getVerificationCode" resultType="java.lang.String">
        SELECT code FROM verification_codes
        WHERE email = #{email}
        AND expire_time > now()
    </select>
    <select id="getUserById" resultType="org.sds.elevateconnect.model.User">
        SELECT * FROM user
        WHERE id = #{userId}
    </select>
    <select id="getUsernameById" resultType="java.lang.String">
        SELECT username FROM user
        WHERE id = #{id}
    </select>
</mapper>