<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd"
>
<configuration>
    <typeHandlers>
        <typeHandler handler="org.sds.elevateconnect.typeHandler.UserRoleTypeHandler" javaType="org.sds.elevateconnect.model.UserRole"/>
        <typeHandler handler="org.sds.elevateconnect.typeHandler.ProjectStageTypeHandler" javaType="org.sds.elevateconnect.model.project.ProjectStage"/>
        <typeHandler handler="org.sds.elevateconnect.typeHandler.ProjectCategoryTypeHandler" javaType="org.sds.elevateconnect.model.project.ProjectCategory"/>
    </typeHandlers>
</configuration>