<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.codesignconnect.mapper.ProjectMapper">

    <select id="getAllProjects" resultType="org.example.codesignconnect.model.Project">
        SELECT * FROM projects
        ORDER BY create_time DESC
    </select>


    <select id="getProjectById" resultType="org.example.codesignconnect.model.Project">
        SELECT * FROM projects WHERE id = #{id}
    </select>


    <insert id="insertProject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO projects (
            name, creator_id, status, description, image_url,
            channel_id, category, deadline, tags, create_time, update_time
        ) VALUES (
                     #{name}, #{creatorId}, #{status}, #{description}, #{imageUrl},
                     #{channelId}, #{category}, #{deadline}, #{tags}, NOW(), NOW()
                 )
    </insert>


    <update id="updateProject">
        UPDATE projects
        SET name = #{name},
            description = #{description},
            category = #{category},
            image_url = #{imageUrl},
            channel_id = #{channelId},
            tags = #{tags},
            status = #{status},
            update_time = now()
        WHERE id = #{id}
    </update>


    <update id="deleteProject">
        UPDATE projects
        SET status = 0,
            update_time = now()
        WHERE id = #{id}
    </update>

    <select id="searchProjects" resultType="org.example.codesignconnect.model.Project">
        SELECT * FROM projects
        WHERE 1 = 1
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        <if test="creatorId != null">
            AND creator_id = #{creatorId}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY create_time DESC
    </select>


</mapper>
